#!/usr/bin/env bash

version=$(</etc/freefeed/{{ freefeed_env }}/server_version)

output=$(docker run -t \
                -v /etc/freefeed/local-{{ freefeed_env }}.json:/server/config/local-{{ freefeed_env }}.json:ro \
                -v /etc/freefeed/banlist.txt:/etc/freefeed/banlist.txt:ro \
                -e NODE_ENV=production \
                -e NODE_CONFIG_ENV={{ freefeed_env }} \
                --network freefeed \
                freefeed/freefeed-server:"${version}" \
                yarn babel bin/${1} 2>&1)
status=$?
[ -n ${2} ] && curl -m 10 --retry 5 --data-raw "${output}" "https://hc-ping.com/${2}/$status"

