{
    "api": {
        "root": "https://{{ freefeed_api_root }}"
    },
    "siteOrigin": "https://{{ freefeed_site_origin }}",
    "siteTitle": "{{ freefeed_site_title }}",
    "auth": {
        "tokenPrefix": "{{ auth_token_prefix }}",
        "userStorageKey": "{{ local_storage_whoami_cache_key }}"
    },
    "sentry": {
        "publicDSN": "{{ public_sentry_dsn }}"
    },
    "captcha": {
      "siteKey": "{{ recaptcha_client_secret }}"
    },
{% if beta_channel_enabled is defined and beta_channel_enabled %}
    "betaChannel": {
{% if beta_channel_isbeta is defined and beta_channel_isbeta %}
      "isBeta": true,
{% endif %}
      "enabled": true
    },
{% endif %}
    "analytics": {
      "google": "{{ google_analytics_id }}"
    },

    "appVersionCheck": {
      "url": "/version.txt",
      "header": "Last-Modified",
      "intervalSec": 300
    },
    
    "newUsersProtected": true,

    "donations": {
      "statusAccount": {{ donations_status_account|default(null)|tojson }},
      "reportsAccount": {{ donations_reports_account|default(null)|tojson }},
      "paymentMethods": {
        "payPalRegularButtonId": {{ donations_paypal_regular_button|default(null)|tojson }},
        "payPalOneTimeButtonId": {{ donations_paypal_onetime_button|default(null)|tojson }},
        "liberaPayProject": {{ donations_liberapay_project|default(null)|tojson }},
        "yasobeRuProject": {{ donations_yasoberu_project|default(null)|tojson }}
      }
    },
    "textFormatter": {
      "foreignMentionServices": [
        { "title": "Facebook", "linkTpl": "https://www.facebook.com/{}", "shortCodes": ["fb", "facebook"] },
        { "title": "FreeFeed", "linkTpl": "https://freefeed.net/{}", "shortCodes": ["freefeed"] },
        { "title": "GitHub", "linkTpl": "https://github.com/{}", "shortCodes": ["github"] },
        { "title": "Instagram", "linkTpl": "https://www.instagram.com/{}/", "shortCodes": ["ig", "instagram"] },
        { "title": "LiveJournal", "linkTpl": "https://users.livejournal.com/{}/", "shortCodes": ["lj", "livejournal"] },
        { "title": "Mokum", "linkTpl": "https://mokum.place/{}", "shortCodes": ["mokum"] },
        { "title": "Telegram", "linkTpl": "https://t.me/{}", "shortCodes": ["tg", "telegram"] },
        { "title": "Twitter", "linkTpl": "https://twitter.com/{}", "shortCodes": ["twitter"] }
      ]
    },
    "registrationsByInvite": {
        "formIframeSrc": {{ invite_registrations_form_iframe_src|default(null)|tojson }}
    }
}
