worker_processes 1;

error_log  /var/log/nginx/error.log;
pid        /run/nginx.pid;

events {
  worker_connections  1024;
}

http {
  include       /etc/nginx/mime.types;
  default_type  application/octet-stream;
  charset       utf-8;
  client_max_body_size {{ nginx_client_max_body_size }};

  log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                    '$status $body_bytes_sent "$http_referer" '
                    '"$http_user_agent" "$http_x_forwarded_for" '
                    '$request_time $upstream_response_time $pipe';

  access_log  /var/log/nginx/access.log  main;

  sendfile on;
  keepalive_timeout  65;
  index index.html index.htm;

  upstream freefeed_server {
    ip_hash;
{% for container in server_containers %}
    server {{ container }}:3000;
{% endfor %}
  }

  server {
    listen 80;
    server_name {{ freefeed_hostname }};

    # Used for opengraph-data export
    ssi on;

    root /usr/share/nginx/freefeed-react-client;

    location ~ ^/(v1/|v2/|socket.io/|api/) {
      proxy_http_version 1.1;
      proxy_set_header Upgrade $http_upgrade;
      proxy_set_header Connection "upgrade";

      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header Host $http_host;
      proxy_set_header X-NginX-Proxy true;
      proxy_set_header Access-Control-Allow-Origin '*';
      proxy_set_header Access-Control-Allow-Methods 'GET,PUT,POST,DELETE,OPTIONS';
      proxy_set_header Access-Control-Allow-Headers 'Origin, X-Requested-With, Content-Type, Accept, X-Authentication-Token, Access-Control-Request-Method';

      proxy_pass http://freefeed_server;
      proxy_redirect off;

      proxy_connect_timeout 5s;
      proxy_next_upstream_timeout 6s;
    }
    # Expire rules for static content

    # document html and data
    location ~* \.(?:html?|xml|json)$ {
      expires off;
      access_log off;
      # access_log logs/static.log; # if you want
      try_files $uri $uri/ /index.html?/$request_uri;
    }

    # CSS and Javascript
    location ~* \.(?:css|js)$ {
      expires 1y;
      access_log off;
      add_header Cache-Control "public";
      try_files $uri $uri/ /index.html?/$request_uri;
    }

    location / {
      access_log off;
      try_files $uri $uri/ /index.html?/$request_uri;
    }

    location ~ ^/assets/ {
      access_log off;
      expires max;
      try_files $uri =404;
    }
  }
}

